<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">


</head>
<body>
  <div class="markdown-body">
    {{ content }}
    <hr>
    <h3>👤 Author</h3>
    <p><strong>Satybaev Mukhamed Kamilovich</strong><br>
    🌐 <a href="https://mukhameds.github.io/ARU-AGI-Project/">ARU-AGI Website</a><br>
    🐦 <a href="https://x.com/home">Twitter/X</a><br>
    🔗 <a href="https://www.linkedin.com/feed/?trk=public_profile_not-found-log-in_google-one-tap-submit">LinkedIn</a><br>
    📞 +996 507 442 873</p>
  </div>
</body>
</html>
